[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
flask-wtf = "*"
email-validator = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
